<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs', {title : 'AdMiN'}) %>
<div class="blogs">
    <% if(blogs) { %>
    <% blogs.forEach(blog => { %>
    <div class="box">
        <div class="blog" onclick="displayBlog('<%= blog._id %>')" id=<%= blog._id %>>
            <h2> <%= blog.title %> </h2>
            <p> <%= blog.snippet %> </p>
        </div>
        <div class="option">
            <a href="/admin/edit/<%= blog._id %> "><i class="fas fa-edit"></i></a>
            <i onclick="del('<%= blog._id %>')" class="fas fa-trash-alt"></i>
        </div>
    </div>
    <% }) %>
    <% } %>
</div>
<a href="/admin/add" class="add-btn"><i class="fas fa-plus-circle"></i></a>
<script>
    function displayBlog(id) {
        window.location.href = '/blogs/blog/' + id;
    }

    function del(id) {
        fetch(`/admin/del/${id}`, {
            method: 'DELETE'
        }).then(res => window.location.reload());
    }
</script>
<%- include('../partials/tail.ejs') %>